/* add css module styles here (optional) */

.button {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  margin: 0;
  outline: none;
  padding: 0.5rem;

  display: inline-block;
  appearance: none;
  background: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
}

.button:hover:not(.disabled) {
  opacity: 0.9;
}

.button.disabled {
  opacity: 0.5;

  cursor: not-allowed;
}

.text {
  background: #fff;
  color: #000;
}

.button.text:hover:not(.disabled) {
  background: #eee;
}

.bordered {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: calc(0.5rem - 1px);
}

.button.bordered:hover:not(.disabled) {
  background: #eee;
}

.ripple {
  position: absolute;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.5);

  transform: scale(0);
  animation: ripple-animation 300ms linear;
}

@keyframes ripple-animation {
  to {
    opacity: 0;

    transform: scale(2);
  }
}
